table, tr,  td{
	border: 1px solid #ccc;
	border-spacing: 0;
	border-collapse: collapse;
}
td{
	padding: 3px;
}
*{
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
}


a{
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	padding: 0 ;
	border-bottom: 1px solid blue;
}


table tr:nth-child(odd){
	background-color:#fafafa;
}
table tr:first-child{
	background-color:#ccc;
}


tr.notused, tr.notused a{
	color: #ccc;
	border-left: 5px solid #fcc;
}
tr.notused a{
	color: #ccc;
	border-left: none;
}

td.header{
	font-weight: bold;
	font-size: 14px;
	padding-top:20px;
}